* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(0, 22, 61);
    color: white;

}


.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 80;
}

.logo {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}



.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover,
.navbar a.active {
    color:aquamarine;
}

.darkmode button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0px;
    transition: .5s ease;
}

.darkmode button:hover {
    background-color:#0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.darkmode img{
    size: 18px;
}



.home{
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10% 0;
    margin-top: 20%;
}

.home-content{
    max-width: 600px;
}

.home-content h1:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 span {
    color: aquamarine;
    font-size: 56px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.home-img img {
    max-width: 450px;
    margin-right: -20px;
}

.head-footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0px;
    transition: .5s ease;
}

.head-footer a:hover {
    background-color:#0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

@keyframes slideRight {
    0% {
        transform:translateX(-100px) ;
        opacity: 0;

    }
    100% {
        transform:translateX(0) ;
        opacity: 1;
        
    }
}

@keyframes slideLeft {
    0% {
        transform:translateX(100px) ;
        opacity: 0;

    }
    100% {
        transform:translateX(0) ;
        opacity: 1;
        
    }
}

@keyframes slideTop {
    0% {
        transform:translateY(100px) ;
        opacity: 0;

    }
    100% {
        transform:translateY(0) ;
        opacity: 1;
        
    }
}

@keyframes slideBottom {
    0% {
        transform:translateY(-100px) ;
        opacity: 0;

    }
    100% {
        transform:translateY(0) ;
        opacity: 1;
        
    }
}

.skills {
    background-color:  rgb(0, 22, 61);
    color: white;
    padding: 100px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.skills .section-content {
    max-width: 600px;
    text-align: center;
}

.projects {
    background-color: rgb(0, 22, 61);
    color: white;
    padding: 100px 10%;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-box {
    width: 300px;
    background-color: #E0E1DD;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-box:hover {
    transform: translateY(-5px);
}

.project-box h3 {
    color: #095D42;
    font-size: 24px;
}

.project-box p {
    color: #095D42;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.project-box a {
    display: inline-block;
    background-color: #0ef;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-box a:hover {
    background-color: #0cf;
}
